<template>
    <section class="container">
        <article>
            <header>
                <h1>
                    Contact Us!
                </h1>
                <h2>
                    A comprehensive guide to doing easy things the hard way
                </h2>
            </header>
            <p>
                We are the industry-leading experts in chasing the latest fad.
                We go where the money goes.
            </p>
        </article>
        <form action="https://formspree.io/kushalpublic@gmail.com"
              method="POST">
            <input type="text" name="name">
            <input type="email" name="_replyto">
            <textarea type="text" name="feedback"></textarea> 
            <input type="submit" value="Send">
        </form>
    </section>
</template>
