<template>
  <section class="container">
      <article>
          <header>
              <h1>
                  What is my nuxt?
              </h1>
              <h2>
                  A comprehensive guide to doing easy things the hard way
              </h2>
          </header>
          <p>
              We are the industry-leading experts in chasing the latest fad. 
              We go where the money goes. 
          </p>
      </article>
  </section>
</template>